In [44]:
# Dependencies
import numpy as np
import datetime as dt
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import extract

In [40]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [41]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [51]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
results = session.query(Measurement.date, Measurement.tobs).\
    filter(func.extract('month', Measurement.date) == 6).all()
#.\
    #filter(Measurement.date >= dt.month(2017, 6, 1)).\

In [52]:
#  3. Convert the June temperatures to a list.
#.all() above accomplishes this

In [53]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(results, columns=['date','temperature'])
june_df.sample(10)

            date  temperature
984   2014-06-25         74.0
203   2016-06-28         76.0
446   2017-06-05         76.0
1687  2017-06-18         77.0
959   2013-06-27         76.0
21    2010-06-22         78.0
1276  2016-06-25         74.0
700   2012-06-04         74.0
915   2012-06-13         76.0
221   2017-06-16         79.0

In [54]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

       temperature
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [57]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results = session.query(Measurement.date, Measurement.tobs).\
    filter(func.extract('month', Measurement.date) == 12).all()

In [9]:
# 7. Convert the December temperatures to a list.
#.all() above accomplishes this

In [58]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_df = pd.DataFrame(results, columns=['date','temperature'])
dec_df.sample(10)

            date  temperature
369   2015-12-06         73.0
395   2016-12-01         73.0
1281  2014-12-01         70.0
178   2015-12-31         69.0
300   2012-12-29         65.0
336   2014-12-03         69.0
1385  2012-12-14         69.0
1311  2010-12-01         71.0
1309  2014-12-30         64.0
392   2015-12-29         67.0

In [59]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df.describe()

       temperature
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000